@using Tellurium.VisualAssertions.Dashboard.Controllers
@using Tellurium.VisualAssertions.Dashboard.Mvc
@model Tellurium.VisualAssertions.Dashboard.Services.TestResults.TestResultListItemDTO
@{
    var rowClass = Model.TestPassed ? "panel-success" : "panel-danger";
    var detailsId = "RowDetails" + Model.TestResultId;
    var rowId = "Row" + Model.TestResultId;
    var widget = RemoteExpanderWidget.Create<HomeController>(c => c.GetTestResultDetails(Model.TestResultId), detailsId, Url);
}
<div class="panel @rowClass test-row" id="@rowId">
    <div class="panel-heading ">
        <div class="row">
            <div class="col-md-10 test-row-expander" @widget.GetAttributeString()>
                <span class="glyphicon glyphicon-menu-right"></span>
                @Model.ScreenshotName
            </div>
            <div class="col-md-2">
                @(Html.ActionLink<TestCaseController>(c=>c.GetTestCase(Model.TestCaseId),"Edit pattern", new { @class = "btn btn-primary" }))
                @if (Model.CanShowMarkAsPattern)
                {
                    @(Ajax.ChangeActionLink<HomeController>(c => c.MarkAsPattern(Model.TestResultId), "Mark as pattern", "Do you really want to mark this as pattern?", rowId, new {@class = "btn btn-primary"}))
                }
            </div>
        </div>
    </div>

    <div id="@detailsId" class="panel-body collapse">

    </div>
</div>
